<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <caption>New</caption>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>mshtml.dll</td>
                    <td><input type="radio" name="optionsNew"checked></td>
                </tr>
                <tr>
                    <td>ieuser.exe</td>
                    <td><input type="radio" name="optionsNew"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-striped">
            <caption>Old</caption>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>mshtml.dll</td>
                <td><input type="radio" name="optionsOld" checked></td>
            </tr>
            <tr>
                <td>ieuser.exe</td>
                <td><input type="radio" name="optionsOld"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="submit" class="btn btn-success">Add to diff</button>
        </div>
    </div>
</form>